element.style {
}
.first {
  height: 100px;
  width: 300px;
  background-color: white;
}
.second {
  height: 100px;
  width: 300px;
  background-color: blue;
}
.third {
  height: 100px;
  width: 300px;
  background-color: red;
}